# Dependency directories
node_modules/
config/

# Env files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Build outputs
/dist/
/build/

/coverage/

/tmp/
/temp/

# IDE-specific files
.vscode/
.idea/

# Lock files (optional)
package-lock.json
yarn.lock